name: Compile MSP430 Code

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Toolchain
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-msp430 binutils-msp430 msp430-libc

      - name: Build Project
        run: |
          msp430-elf-gcc -mmcu=msp430fr5739 -O2 -o main.elf AgNP04b-main.c
          msp430-elf-objcopy -O ihex main.elf main.hex

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: firmware-hex
          path: main.hex
